.Rproj.user
.Rhistory
.Rdata
.RData
.Ruserdata
Data/Degree_1step.Rdata
Data/params_out_1step.Rdata
Data/Degree_2steps.Rdata
Data/params_out_2steps.Rdata
Data/Degree_2steps.Rdata
Data/Degree_2steps.Rdata
Data/params_out_2steps.Rdata
